@import "../../../styles/mixins";
@import "../../../styles/variables";


.notifications {
  display: flex;
  flex-direction: column;


  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;

    h4 {
      margin: 0px;
      margin-left: 15px;
      padding: 0px;
    }
  }

  .notification-card{
    display: flex;
    flex-direction: column;
    background-color: $primary1;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    h3{
      margin: 0px;
    }
  }

}