@import '../../styles/variables';
@import '../../styles/mixins';


.GoalManager {

  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 1em;
  background-color: $primary2;
  box-shadow: inset 0px 0px 15px 8px #2364AA;

  .focused-goal {
    margin: 0px 20px 0px 20px;
    max-width: 80em;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg1;
    box-shadow: 0px 5px 32px #0003;
    border: $border-lines;
  }

  .focused-complete {
    color: $text-col1;
    background-color: $green-success3;
    border: $border-lines3;

    h1{
      color: $text-col1;

    }
  }

  .child-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .add {
    display: flex;
    background-color: adjust-color($color: $main7, $alpha: -0.6);
    color: $main8;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    border: $border-lines;

    .plus {
      font-size: 6em;
      color: #2364AA;
    }
  }

  .add:hover {
    background-color: adjust-color($color: $main7, $alpha: -0.4);
    cursor: pointer;
  }

  .up {
    border-radius: 50%;
    margin: 0.5em;
    border: none; //$border-lines4;
    min-width: 4em;
    min-height: 4em;
    font-weight: bold;
    background-color: $red-alert-50;
    color: $text-col5;
    box-shadow: 0px 5px 10px #0003;
  }

  .up:hover {
    border: $border-lines4;

    background-color: $red-alert;// adjust-color($color: $red-alert, $lightness: +10%, $saturation: +30%);
    color: $text-col5; //adjust-color($color: $red-alert, $lightness: +10%);
    cursor: pointer;
  }

  .up:active {
    background-color: adjust-color($color: $red3, $lightness: -10%, $saturation: +20%);
    color: adjust-color($color: $main8, $lightness: -10%);
  }

}

.GoalStructure {
  margin: 10px;
  font-weight: bold;
  color: $bg1;
}

.FocusedGoal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;

  h1 {
    font-size: 30px;
    margin: 0px;
    color: $primary1;
  }

  .details {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }


  p {
    margin: 0%;
  }


}

.move-to-parent:hover {
  cursor: alias;
}
/* .cancel-move:active{
  &.card-btn {
    @include iconbtn-circle-reg ($sec-col: white);
  }
} */

.cancel-move:hover {
  cursor: no-drop;
}

.SubGoalCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $primary1;
  border-radius: 45px;
  // background-color: $main7;

  p {
    margin: 0%;
    min-height: 1em;
  }

  progress {
    -webkit-appearance: none;
    padding: 5px;
   // width: 100%;
  }

  .progress1::-webkit-progress-bar {
    border-radius: 5px;
    background-color: $secondary1-50;
    height: 10px;
  }

  .progress1::-webkit-progress-value {
    border-radius: 5px;
    background-color: $primary2;
  }

 /*  progress {
    height: 1em;
    appearance: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress::-moz-progress-bar {
    background: $main4;
  }

  progress::-webkit-progress-value {
    background: $main4;
  }

  progress::-webkit-progress-bar {
    background: $main4;
  }
 */
  header.sub-header {
    margin: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    height: 70px;
    gap: 2em;
    align-items: stretch;



    h3{
      background-color: $secondary2-20;
      padding: 5px 10px;
      min-width: 100px;
      max-width: 250px;
      text-align: left;
      border-radius: 3px;
      text-align: center;
    }

    p {
      margin: 0%;
      min-height: 1em;
      padding: 5px 0px;
      font-style: italic;
    }
  }

  header,
  footer {
    margin: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    gap: 10px;

    p {
      font-size: 12px;
    }

    h3,
    h4 {
      margin: 0%;
    }

    h3:hover {
      cursor: pointer;
    }
  }


}


.child-complete {
  background-color: $green-success3;
  border: $border-lines3;
}

.subgoal-body {
  flex-grow: 1;
  margin: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    height: 2em;
  }
  p.deadline{
    font-style: italic;
  }
  p.note{
    font-size: large;
    margin-bottom: 10px;

  }
  h3.completed{
    font-size: xx-large;
    margin: 0;
    margin-bottom:20px ;
    color: $text-col5;
    padding: 5px 5px;
    border-radius: 2px;
    background-color: $green-success2;
  }
  .noInfo{
    color: $text-col3;
    margin-bottom: 40px;
    span{
      font-style: italic;
      font-size: small;
    }
    p {
      font-style: bold;
      margin: 0;
      height: 0;
    }
  }
}

.selected {
  background-color: $accent1-50;
 
  :hover {
    cursor: no-drop;
  }
}

.not-selected:hover {
  background-color: $secondary2-20;
  cursor: alias;
}

/* .card-btn {
    display: block;
  font-size: 12px;
  flex-grow: 1;
  padding: 5px;
  outline: none;
  color: $main8;
  font-weight: 600;
  border: 1px solid #0003;
  border-radius: 5px;
  @include button-3 ($bg-color: $primary1, $highlight-col: $accent1);

  &:hover {
    cursor: pointer;
  }

} */


.edit-btn {
  @include button-3a ();
  margin: 5px 10px;
  background-color: $green-success1;

  &:hover {
    background-color: $green-success3;
  }

  &:active {
    background-color: $green-success3;
  }
}


.delete-btn {
  @include button-3a ();

  background-color: $red-alert;

  &:hover {
    background-color: $red3;
  }

  &:active {
    background-color: $red1;
  }
}

.move-btn {
  background-color: $accent1;
  &:hover {
    background-color: $secondary1;
  }
  &:active {
    background-color: $secondary1;
  }
}


.SubGoalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main8;

  .form-container {
    display: flex;
  }

  td {
    text-align: right;
  }

  .label {
    width: 30%;
    font-weight: 600;
  }

  .input {
    width: 60%;
  }

  label,
  input {
    display: block;
    padding: 3px;
  }

  textarea {
    display: block;
    width: 90%;
    height: 2.5em;
    resize: none;
    background-color: $bg1-30;
  }

  textarea:focus {
    outline: none;
  }

  .actions {

    display: flex;
    flex-direction: row;
    width: 130px;
    justify-content: center;
   }
  footer {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    gap: 10px;
  }

}

.card {
  border: $border-lines2;
  border-radius: 10px;
  width: 22em;
  height: 15em;
  padding: 0.5em;
  background-color: $secondary2-50;


  &.SubGoalCard .actions {

    display: flex;
    flex-direction: row;
    // width: 130px;
    flex: 1;
    align-self: flex-start;
    justify-content: center;



    .card-btn {
      display: none;
    }
    &:not(.not-selected).card-btn {
      display: none;
    }

    &:not(.selected) .card-btn {
      @include iconbtn-circle-reg ($sec-col: white);

      background-color: $accent1;
      &:hover {
        background-color: $secondary1;
      }
      &:active {
        background-color: $secondary1;
      }
    }

  }

/*   .card-btn {
    display: none;
  } */

  &:hover {
    // background-color: $secondary2;

    .card-btn {
      @include iconbtn-circle-reg ($sec-col: white);

      &:hover {
        cursor: pointer;

        @include iconbtn-circle-hov;
      }

    }
    

  }
}
