@import "./styles/variables";
@import "./styles/mixins";

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 3;
  color: $primary1;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;

  background-color: #fffafa;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
}

.main-container {
  height: 100%;
  display: flex;
  align-items: stretch;
}


//SCROLL BAR
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: $primary1-05;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.233);
} 