@import "./styles/variables";
@import "./styles/mixins";

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 3;
  color: $text-col1;
}

input {
  margin: 3px;
  padding: 5px;
  border: none;
  background-color: $bg1-30;
  border-bottom: 2px solid $main1;
}

button[type=submit]
{
  @include button-3 ($bg-color: $primary1, $highlight-col:$secondary1);
}
button[type=cancel]
{
  @include button-3 ($bg-color: $primary1, $highlight-col:$secondary1);
}

.App {
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  @include background;
}

.main-container {
  height: 100%;
  display: flex;
  align-items: stretch;
}

//ALIGNMENT CLASS HELPERS
.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
}
.left{
  display: flex;
  align-items: flex-start;
}
.row-al-mid{
  display: flex;
  align-items: flex-start;
  align-items: center;
}

//SCROLL BAR
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: $accent1;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.233);
} 