@import "./styles/variables";
@import "./styles/mixins";

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 3;
  color: $main1;
}
input {
  margin: 3px;
  padding: 5px;
  border: none;
  background-color: white;
  border-bottom: 2px solid $main1;
}
button[type=submit]
{
  @include button-3;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: $main8;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
}

.main-container {
  height: 100%;
  display: flex;
  align-items: stretch;
}


//SCROLL BAR
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: $main1;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.233);
} 