@import "../../styles/mixins";
@import "../../styles/variables";

.RightSidebar {
  // flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: auto;
  width: $sidebar-width;
  background-color: $main8;
  // box-shadow: -10px 0px 8px #0003;
  border-left: $border-lines;

}