@import "../../styles/mixins";
@import "../../styles/variables";

.RightSidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  // height: 100%;
  padding: 0.5em 0.5em 0% 0.5em;

  // margin-left: auto;
  // width: $sidebar-width;
  background-color: $main8;
  // box-shadow: -10px 0px 8px #0003;
  border-left: $border-lines;

}

.Settings {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;

  .row-al-mid {

    h2 {
      margin: 5px 10px;
    }
  }

  .interests {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 0.2em;

    .btn {
      display: flex;
      flex-wrap: wrap;
     // flex-grow: 1;
      justify-content: center;
      align-items: center;
    }
  }

  .active {
    background-color: $secondary2;
    color: $primary1;
  }
  .active:hover {
    background-color: adjust-color($color: $secondary2, $saturation: -50%);
  }
  .inactive {
    color: $primary1;
    background-color: $main6;
  }
  .inactive:hover {
    background-color: adjust-color($color: $secondary2, $saturation: -70%);
  }

  .off {
    background-color: $green-success1;
    color: $text-col5;
  }

  .off:hover {
    background-color: $green-success1-50;
  }

  .on {
    background-color: $red2;
    color: $text-col5;
  }

  .on:hover {
    background-color: $red3;
  }
}