@import "../../styles/mixins";
@import "../../styles/variables";

.left-sidebar
{
  display: flex;
  flex-direction: column;
  background-color: $background-color2;
  box-shadow: 10px 0px 8px #0003;
  width: $sidebar-width;
  border-right: $border-lines;
}