.Chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message-box {
  width: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.input-message {
  margin: 1em;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.message-incoming {
  text-align: left;
}

.message-outgoing {
  text-align: right;
}
