@import "../../styles/mixins";
@import "../../styles/variables";


.Landing {
  padding-top: $navbar-height;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:start;
  margin-top: 50px;
  
  width: 60%;
  flex-grow: 1;

  .create-bttn {
    @include button-2;
  }

  .action-area {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg1-30;
    border-radius: 10px;
    margin-right: 30px;
    padding: 25px;
    min-height: 400px;
    width: 300px;
    box-shadow: 4px 3px 22px -1px rgba(117, 117, 117, 0.079);
  


    div.tabs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-radius: 10px 10px 0px 0px;
      color: $main3;
      padding: 5px;
      width: 200px;

      :hover {
        cursor: pointer;
      }
      .tab-content
      {
        a{
          font-size: x-small;

        }
        .tab-header {
          margin: 5px;
          @include button-2
        }
  
        .active {
          background-color: $primary2;
          color: $main8;
        }
      }

   
    }

    div.content {
      // background-color: tomato;
      height: inherit;
      
    }

    footer {
      display: flex;
      justify-content: center;
    }
  }

}

.form-header {
  margin: 10px;

  h2 {
    margin: 5px;
    color: $primary1;
  }

  h3 {
    margin: 5px;
    color: $primary1;
  }
}

.login {
  h2 {
    margin: 5px;
    color: $primary1;
  }

  h3 {
    margin: 5px;
    color: $primary1;
  }
}

.register {
  h2 {
    margin: 5px;
    color: $primary1;
  }

  h3 {
    margin: 5px;
    color: $primary1;
  }
}

.form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .form-group {
    display: flex;
    gap: 0.5em;
    padding: 0.2em;

    label {
      text-align: right;
      flex: 1;
    }

    input {
      flex: 2;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  .btn {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    :hover {
      /* Change background color to red on hover */
      background-color: tomato;
      color: white;
    }
  }
}

.Splash {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $bg1-30;
  border-radius: 10px;
  margin-right: 30px;
  padding: 25px 20px;
  box-shadow: 4px 3px 22px -1px rgba(117, 117, 117, 0.079);
  min-height: 400px;
  min-width: 200px;
  align-content: center;

  .app-name {
    color: $primary2
  }


  .logo {
    @include logo;
    width: 35px;
  }

  img {
    height: 64px;
    filter: invert(11%) sepia(50%) saturate(542%) hue-rotate(164deg) brightness(96%) contrast(93%);
  }

  header {
    display: flex;
    align-items: center;
  }

  article {
    display: flex;
    flex-direction: column;

    h2 {
      align-self: flex-start;
      margin: 0%;
      padding: 5px;
      font-size: $h1-size ;
      color: $text-col5;
      background-color: $primary2;

    }

    p {
      // padding: 1em;
      color: $primary2;
      text-align: justify;

    }
  }

  h1 {
    margin: 6px;
    font-size: 64px;
    color: $primary2;
  }
}