@import "../../styles/mixins";
@import "../../styles/variables";

.Landing {
  padding-top: $navbar-height;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: $main1;
  max-width: 1920px;

  .create-bttn {
    @include button-2;
  }

  .action-area {
    flex: 2;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1em;

    div.tabs {
      display: flex;
      flex-direction: row;
      border-radius: 10px 10px 0px 0px;
      background-color: $main6;
      color: $main3;
      padding: 5px;
      width: 200px;

      :hover {
        cursor: pointer;
      }

      .tab-header {
        margin: 5px;
        @include button-2
      }

      .active {
        background-color: $main2;
        color: $main8;
      }
    }

    div.content {
      background-color: tomato;
      height: inherit;

    }

    footer {
      display: flex;
      justify-content: center;
    }
  }

}

.form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $main6;

  .form-group {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.2em;

    label {
      text-align: right;
      flex: 1;
    }

    input {
      flex: 2;
    }
  }

  footer {
    margin-top: 1em;
  }

  .btn {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    :hover {
      /* Change background color to red on hover */
      background-color: tomato;
      color: white;
    }
  }
}

.Splash {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 64px;
    filter: invert(11%) sepia(50%) saturate(542%) hue-rotate(164deg) brightness(96%) contrast(93%);
  }

  header {
    display: flex;
    align-items: center;
  }

  article {
    h2 {
      margin: 0%;
      color: $main2;
    }

    p {
      padding: 1em;
      background-color: $main2;
      color: $main8;
    }
  }

  h1 {
    margin: 6px;
    font-size: 64px;
    color: $main2;
  }
}