@import "../../../styles/mixins";
@import "../../../styles/variables";

.create-main-goal {
  display: flex;
  flex-direction: column;
  text-align: left; 

  span {
    font-size: medium;
  }

  .create-bttn {

    @include button-2;
    
  }
}

.create-main-goal-form {
  margin: 10px;
  padding: 15px;
  border: 0px solid $main1;
  border-radius: 5px;
  background-color: $main6;
  box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.025);

  div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h4 {
      margin: 0px 0px;
    }
    .iconbtn-circle {

     @include iconbtn-circle($main-col: $main2, $sec-col: $main2, $fill-col: $main7)
    }
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
}