@import "../styles/variables";

.Home {
  margin-top: $navbar-height;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100vh - $navbar-height);
  background-color: $medium-cool;

}
.goal-manager {
  flex-grow: 3;
}

  