@import "../styles/variables";
@import "../styles/mixins";


.nav {
  display: flex;
  position: absolute;
  width: 98vw;
  background-color: $main7;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  height: $navbar-height;
  border-bottom: $border-lines;
  color: $main3;

  div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;

    h1 {
      margin: 0.1em;
    }
  }

  img {
    width: 2em;
    filter: invert(13%) sepia(9%) saturate(3420%) hue-rotate(182deg) brightness(93%) contrast(88%);
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 5px;

    .dropbtn {
      @include button-1;
      border-radius: 3px;

    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: $main5;
      min-width: 140px;
      box-shadow: 0px 8px 16px 0px rgba(162, 162, 162, 0.2);
      z-index: 1;


      button {
        color: $main8;
        padding: 12px 15px;
        text-decoration: none;
        display: block;
        background: none;
        border: none;

        &:hover {
          color: $main7;
          background-color: $main2;
        }
      }
    }

    &:hover .dropdown-content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    &:hover .dropbtn {
      background-color: $main5;
      color: $main8;
      border-radius: 3px 3px 0px 0px;
    }
  }

  .iconbtn-circle {
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid $main2;
    color: $main2;
    padding: 8px;
    margin: 0.5em;

    &:hover {
      border: 2px solid transparent;
      background-color: $main8;
      color: $main1;
    }
  }

  .iconbtn {
    display: block;
    aspect-ratio: 1;
    color: $main2;
    padding: 8px;
    margin: 0.5em;
    border-radius: 3px;

    &:hover {
      background-color: $main8;
      color: $main1;
    }
  }

  .active {
    background-color: $main2;
    color: #f1f1f1;
  }
}
