.nav{
  display:flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #003049;
  color: #eae2b7;

  div{
    display: flex;
    flex-direction: row;
  }

  .log_out{
    background-color: #eae2b7;
    color: #003049;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: medium;
  }
}