@import "../../../styles/variables";

.Chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.message-box {
  background-color: $main4;
  height: 0px;
  flex-grow: 1;
  padding: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 5px 5px 0px 0px;
}

.input-message {
  padding: 0.5em;
  height: 4em;
  background-color: $main4;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  textarea {
    height: 100%;
    border: 0px none transparent;
    border-radius: 3px;
    resize: none;
    flex-grow: 1;
    overflow: scroll;
  }
  textarea:focus {
    outline: 0;
  }
  button {
    margin-left: 3px;
    height: 3em;
    width: 3em;
  }
}

.message {
  display: block;
  max-width: 70%;
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 5px;
  white-space: pre-wrap;
  
  header {
    display: flex;
    justify-content: space-between;

  }



  blockquote {
    margin: 0%;
  }
  footer {
    padding-top: 0.2em;
    display: flex;
    justify-content: flex-end;
    color: $red1;
    :hover {
      cursor: pointer;
      color: $red2;
    }
  }
}

.message-incoming {
  margin-right: 30%;
  background-color:$main7;
  text-align: left;
}

.message-outgoing {
  margin-left: 30%;
  background-color: $main6;
  text-align: left;
}

.deleted {
  background-color:darkgrey;
}

.sender-name {
  font-size: 12px;
  font-weight: bold;
}
.timestamp {
  font-size: 10px;
  
}

@media (min-width: 1921px) {
  .sender-name {
    font-size: 24px;
  }

  .timestamp {
    font-size: 18px;
  }

  .message {
    font-size: 24px;
  }
}