@import "./variables";

@mixin vertical-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin button-1 ($main-col: $primary1){
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  padding: 6px 10px;
  background-color: transparent;
  color: $main-col;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  h3 {
    font-weight: bold;
    font-size: medium;
    margin: 5px;
  }
}
@mixin button-2($main-col: $primary1) {
  background: transparent;
	border: none;
	margin: 5px auto 5px;
	display: block;
	font-size: 20px;
	outline: none;
	position: relative;
	transition: 0.3s;
	padding: 10px;

	&:before {
		content: '';
		border-bottom: 2px solid $main-col;
		padding: 0 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 0;
		transition: 0.3s;
	}

	&:hover {
		&:before {
			width: 100%;
			padding: 0;
		}
	}
}

@mixin button-3 ($bg-color: $primary1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3em 1em;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    background-color:$bg-color;
    outline: 0;
  }
}

@mixin iconbtn-circle ($main-col: $primary1, $sec-col: $primary1, $fill-col: whitesmoke)  {
  display: block;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid transparent;
  color: $sec-col;
  padding: 5px;
  margin: 3px;

  &:hover {
    border: 2px solid transparent;
    background-color: $main-col;
    color:$fill-col;
  }
}
