$main1: #060914;
$main2: #121830;
$main3: #212d45;
$main4: #394c60;
$main5: #627884;
$main6: #8f9ca3;
$main7: #c7cfd1;
$main8: #f2f3f3;

$green1: #0d2626;
$green2: #2e6b65;
$green3: #669986;
$green4: #abbab0;

$red1: #491e19;
$red2: #8e3c29;
$red3: #b0674f;
$red4: #e6c6b2;



$navbar-height: 3em;

$sidebar-width: 24vw;

$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;

$border-lines:  1.5px solid #2364AA;
$border-lines1:  1.5px solid  rgba(255, 255, 255, 0.412);

$h1-size: 0.775em;

$bg1: white;
$bg1: rgb(235, 235, 235);

$bg1-30: rgba(255, 255, 255, 0.305);


$text-col1: #272242;
$text-col2: #2C497F;
$text-col3: #1f3359;

$text-col5: white;

$primary1: #2C497F;
$primary2: #2364AA;
$accent1: #52D1DC;
$accent1-50: #52d1dc9c;

$accent2: #151E3F;
$secondary1: #FF8811;
$secondary2: #F4D06F;
$secondary2-50: #ffe294c5;


$red-alert: #A5402D;
$red-alert2:#9B1D20;
$green-success1: #436436;
$green-success2: #678D58;

