$background-color: #f06292;
$text-color: #f1d3b3;
$light-warm: rgb(255, 243, 135);
$light-cool: rgb(136, 205, 255);
$dark-warm: rgb(255, 111, 0);
$dark-cool: rgb(6, 20, 92);
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;