$background-color: #ffffff;
$text-color: #15131e;
$text-color-secondary: #15131e99;

$background-color2: whitesmoke;
$background-color2-05: whitesmoke;
$background-color3: #f1f1f1;

$primary1: #003049;
$primary1-05: #090a0b7e;
$primary2: #D62828;
$secondary1: #F77F00;
$secondary2: #FCBF49;
$secondary3: #EAE2B7;

$text-color: #f1d3b3;
$light-warm: rgb(255, 243, 135);
$light-cool: rgb(136, 205, 255);
$medium-warm: rgb(255, 150, 70);
$medium-cool: #1c5f83;
$dark-warm: rgb(255, 111, 0);
$dark-cool: #003049;

$navbar-height: 8vh;
$sidebar-width: 24vw;

$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;

$border-lines:  1.5px solid $primary1-05;