$main1: #060914;
$primary2: #121830;
$main3: #212d45;
$main4: #394c60;
$main5: #627884;
$main6: #8f9ca3;
$main7: #c7cfd1;
$main8: #ffffff;

$green1: #0d2626;
$green2: #2e6b65;
$green3: #669986;
$green4: #abbab0;

$red1: #491e19;
$red2: #8e3c29;
$red3: #b0674f;
$red4: #e6c6b2;



$navbar-height: 3em;

$sidebar-width: 24vw;

$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;

$border-lines:  1.5px solid #2364AA;
$border-lines2:  1.5px solid #F4D06F;
$border-lines3:  1.5px solid  #FF8811;
$border-lines3:  1.5px solid  #355529;
$border-lines4:  2px solid  #f8563a;



$border-lines1:  1.5px solid  rgba(255, 255, 255, 0.412);

$h1-size: 0.775em;

$bg1: white;

$bg1-30: rgba(255, 255, 255, 0.305);


$text-col1: #272242;
$text-col2: #2C497F;
$text-col3: #1f3359;

$text-col5: white;

$primary1: #2C497F;
$primary2: #2364AA;
$accent1: #52D1DC;
$accent1-50: #52d1dc9c;

$accent2: #151E3F;
$secondary1: #FF8811;
$secondary1-50: #ff8811b5;

$secondary2: #f7d476;

$secondary2-50: #fcd978 ;
$secondary2-20: #ffab0eba;



$red-alert: #f8563a;
$red-alert-50: #e73415;
$red-alert-50: #e73415;


$red-alert2:#9B1D20;
$green-success1: #436436;
$green-success1-50: #4364368c;
$green-success2: #678D58;
$green-success3: #b1ed7f;

