@import "../../styles/mixins";
@import "../../styles/variables";

.Search {
  overflow-y: scroll;
}

.search-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  .no-matches {
    margin: 15px;
    font-style: italic;
  }

  li {
    h4 {
      margin: 0%;
    }
  }
}

.list-item {
  padding: 0.5em;
  margin: 0.4em;
  list-style-type: none;
  background-color: $main7;
  width: 66%;
  justify-content: center;
  border-radius: 10px;
  padding-bottom: 10px;
}

.interest-name {
  border-radius: 3px;
  background-color: $main6;
  margin: 0.2em;
}

.btn {
  margin-top: 0.3em;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: $green3;
  border-radius: 5px;
}

.btn:hover {
  /* Change background color to red on hover */
  background-color: $green4;
  // color: white;
}

.btn:active {
  /* Change background color to red on hover */
  background-color: $green2;
  // color: white;
}

.search-result-tile {
  background-color: $green3;
  border-radius: 10px;
  margin: 15px;
  padding: 5px;

  h3 {
    margin: 10px;
  }

  .message-form-action {
    display: flex;
    flex-direction: row;
  }
}

.no-buddy {
  margin: 10px;
  padding: 10px;

  p {
    margin: 10px;
  }
}