@import "../../styles/mixins";
@import "../../styles/variables";

.search-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-item {
  margin: 20px;
  list-style-type: none;
  background-color:#EAE2B7;
  width: 66%;
  justify-content: center;
  border-radius: 10px;
  padding-bottom: 10px;
}
.btn{
  margin-top: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: darksalmon;
}

.btn:hover {
  background-color: darkgoldenrod;
  color:white /* Change background color to red on hover */
}
//darkgoldenrod