@import "../../styles/mixins";
@import "../../styles/variables";

.Search {
  overflow-y: scroll;
  h4.result-message {
    margin: 15px;
    font-weight: 300;
  } 
}

.search-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  .no-matches {
    margin: 15px;
    font-style: italic;
  }

  li {
    h4 {
      margin: 0%;
    }
  }
}

.request-card {
  padding: 0.5em;
  margin: 0.4em;
  list-style-type: none;
  background-color: $accent1-20;
  width: 66%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 10px;


  h3{
    margin: 10px 0px;
  }
  h4{
    margin: 5px 0px;
    font-size: small;
  }
  span{
    font-style: italic;
    margin: 5px 0px;
  }
  .interest-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
  }

  .action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 10px;

    button {
      @include button-3 ($bg-color: $primary1, $highlight-col: $primary2);
      margin: 2px 0;
    }
  }
}

.message-form-actions {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  button[type=submit].btn {
    margin: 5px;
    @include button-3 ($bg-color: $secondary1, $highlight-col: $secondary1-50);
  }

  button[type=cancel].btn {
    margin: 5px;
    @include button-3 ($bg-color: $secondary1, $highlight-col: $secondary1-50);

  }
}

.interest-name {
  border-radius: 3px;
  padding: 5px;
  background-color: $secondary2-50;
  font-size:x-small;
  margin: 0.2em;
}

.btn {
  margin-top: 0.3em;
  padding: 5px;
  width: 100px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: $green-success2;
  color: $text-col5;
  border-radius: 5px;
  &.red{
    background-color: $red-alert;
  }
}

.btn:hover {
  /* Change background color to red on hover */
  background-color: $green-success1;
  // color: white;
}

.btn:active {
  /* Change background color to red on hover */
  background-color: $green2;
  // color: white;
}

.search-result-tile {
  background-color: $green-success2;
  border-radius: 10px;
  margin: 15px;
  padding: 5px;

  h3 {
    margin: 10px;
  }

  .message-form-actions {
    display: flex;
    flex-direction: row;
  }
}

.no-buddy {
  margin: 10px;
  padding: 10px;

  p {
    margin: 10px;
  }
}